.setofskillsblock {
    margin-bottom: 10px;
  }

  .setofskillstitle {
    color: rgba(240, 240, 240, 0.81);
    font-family: Inter;
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
    margin-bottom: 2px;
  }

  .setofskillsscale {
    background: rgba(0, 0, 0, 0.25);
    height: 10px;
    width: 93px;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
  }

  .setofskillsfilled {
    height: 100%;
    border-radius: 2px;
    transition: width 0.3s ease; 
}