.signup__page{
}

.signup__page__unsigned {
    animation: downSlideIn 1s forwards;

}


@keyframes downSlideIn {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.blur{
    backdrop-filter: blur(14px);

    width: 100vw;
    animation: fadeIn 0.7s ease forwards;
    height: 100vh;
}

@keyframes fadeIn {
    0% {
      background-color: rgba(0, 0, 0, 0.1); /* Исходное светлое значение */
    }
    100% {
      background-color: rgba(0, 0, 0, 0.56); /* Целевое затемнённое значение */
    }
  }
