.signup__page{
}

.signup__page__unsigned {
    animation: downSlideIn 1s forwards;

}


@keyframes downSlideIn {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
